@model IEnumerable<SystemHotelowyVer3.Models.Booking>

@{
    ViewBag.Title = "Zarezerwowane pokoje";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Zarezerwuj pokój", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Pokój
        </th>
        <th>
            Gość
        </th>
        <th>
            Zameldowanie
        </th>
        <th>
            Wymeldowanie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-book" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-remove" })
            </td>
        </tr>
    }

</table>
