@model SystemHotelowyVer3.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Czy na pewno chcesz usunąć rezerwację?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID pokoju
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

        <dt>
            ID gościa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestId)
        </dd>

        <dt>
            Czas rezerwacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            Zameldowanie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            Data rezerwacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
