@model SystemHotelowyVer3.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły rezerwacji</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID pokoju
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

        <dt>
            ID gościa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestId)
        </dd>

        <dt>
            Czas rezerwacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            Zameldowanie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            Data rezerwacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
